<h1>Oldest director</h1>


<p>The eldest director in our dataset right now is <a href="/directors/<%=@oldest_director.id%>"><%= @oldest_director.name %></a>, born on <%=@format_oldest_birthday%>.</p>
