<!DOCTYPE html>
<html>
  <head>
    <title>MSM Queries</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style>
      .director-img{
        width: 250px;
      }
    </style>
  </head>

  <body>
    <nav>
      <a href="/">
        Home
      </a>
    </nav>

    <%= yield %>
  </body>
</html>
